* {
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customSelect {
    width: 100%;
}
.customSelect select {
    outline: none;
    cursor: pointer;
    width: 100%;
}

.customButton{
    background-color: #DC3545;
    color: #fff7f2;
    margin-bottom: 4px;
    border-radius: 3px;
    padding: 8px;
    border: 0px;
    cursor: pointer;
}

.header h1 {
    text-align: center;
}

.card {
    width: 900px;
    border: 1px solid #e4e3e3;
    border-radius: 3px;
    margin-bottom: 15px;
}
.card .title {
    background-color: #F7F7F7;
    padding: 2%;
    align-items: center;
    border-bottom: 1px solid #e4e3e3;
}
.card .title h5{
    margin: 0;
    margin-left: 10px;
}
.card .title h5 button{
    border: 0px;
    background-color: transparent;
}

.card-main {
    padding: 20px 30px;
}

.card-evolution .card-main {
    display: flex;
    flex-direction: column;
}
.card-evolution .table{
    margin-bottom: 20px;
}

.card-battle .card-main .battle-config form{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.card-battle .card-main .battle-config select{
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid #e4e3e3;
}
.card-battle .card-main .battle-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.card-battle .statsSide {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card-battle .selectType{
    display: flex;
    flex-direction: row;
}

.battle-stats .customButton {
    background-color: #007BFF;
}

.selectType .labelSideName{
    background-color: #e9ecef;
    border: 1px solid #e4e3e3;
    border-radius: 4px 0 0 4px;
    padding: 5px;
    font-size: 14px;
}
.selectType select{
    width: 100%;
    border: 1px solid #e4e3e3;
    border-radius: 0 4px 4px 0;
    padding: 5px;
    font-size: 14px;
}
.battle-results {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.battle-results label{
    font-size: 13px;
    margin-bottom: 3px;
}
.battle-results .customButton {
    background-color: #FFD65E;
    width: 100%;
    color: #6b675a;
}

#buttonAttack {
    margin: 0 10px;
}